{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid text-center" style="text-align:center; padding:100px">
    <!-- Title -->
    <img src="{% static 'icon/Color Studio-Litmus Project(title)-20190404.jpg' %}" style="width: 38%; height: auto;" alt="Search Colors"/>

    <!-- Login Button-->
    <br><br><br><br>
    <div style="text-align:center">
        <p><a class="btn btn-info btn-sm" style="background-color:royalblue; width:110pt" 
            href="{% url 'litmus:msAuth' %}">Login</a></p>
    </div>
</div>

<div class="container-fluid text-center" style="text-align:center; padding:30px">
</div>

{% endblock %}
